<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbXmi85m_i2aNjC6FpaY4YSDrC4DIdXac</string>
	<key>GCM_SENDER_ID</key>
	<string>661546037404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SandE.theHandbookOfSuperheroes</string>
	<key>PROJECT_ID</key>
	<string>the-handbook-of-superheroes</string>
	<key>STORAGE_BUCKET</key>
	<string>the-handbook-of-superheroes.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661546037404:ios:83afc52b879b93d901fd59</string>
</dict>
</plist>